.card-product-details-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-product-card {
    /*border: 1px solid #e0e0e0;*/
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    background-color: #ffffff;
    transition: box-shadow 0.3s;
    width: 200px;
}

.card-product-card:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-product-name {
    font-size: 12px;
    margin: 10px 0;
}

.card-product-price {
    font-size: 12px;
    color: #666;
    margin: 10px 0;
}

.card-offer-price {
    font-weight: bold;
    color: #E91E63; /* Color for the offer price */
    margin-right: 5px;
}

.card-real-price {
    text-decoration: line-through; /* Struck-through style for real price */
    color: #999;
}

.card-product-rating {
    margin: 10px 0;
}

.card-star {
    color: #ccc;
    font-size: 14px;
}

.card-star.filled {
    color: #FFD700; /* Gold color for filled stars */
}

.card-add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-add-to-cart-btn:hover {
    background-color: #45a049;
}

.card-product-image{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}